*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 5px;
    padding: 0px;
}

.heading {
    width: 500px;
    height: auto;
    margin: auto 5px auto 5px;
}

.list {
    margin-left: 15px;
}

.container-main {
    width: 700px;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dream Orphans', Cambria, Cochin, 'Times New Roman', serif;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    max-height: 300px;
    width: auto;
    border: 2px solid black;
}

button {
    background-color: brown;
}

a#go-home {
    background-color: brown;
    font-size: large;
    color: white;
}

.highlight {
    background-color: yellow;
    display: inline-block;
}